h5 Search
.row
    .col-md-8
        .form-group.form-group-default           
            input#name.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='search.searchByName($("#name").val())') Search