block content


  table.u-full-width
    thead
      tr
        th Name
        th Open (Y/N)
        th By Appointment Only (Y/N)
    tbody
    each item in items  
      tr
        td
          b
            a(href="#", onClick='viewDoctor("' + item.business_id + '")')
              = item.name
          br
        td
            if item.open
                |Y
            else
                |N
        td
            if (item.attributes["By Appointment Only"])
                |Y
            else
                |N
