block content
  table.u-full-width
    thead
      tr
        th Restaurant
        th Location
        th Stars
    tbody
    each item in items  
      tr
        td
          b
           a(href="#", onClick='viewRestaurant("' + item.business_id + '")')
            = item.name
          br
        td= item.city + ", " + item.state
        td= item.stars
