extends layout.jade

block content
	div.row
		each item in restaurants     
			div.six.columns.onecell
				div.onerow
					div.namepiece
						a(href='/view/restaurant/' + item.business_id)
							= item.name
					div.starpiece
						= item.stars + " stars"
				div.onerow
					div.hourpiece
						each day, dayName in item.hours
							div.onerow
								= dayName + " "
								= day.open + "-"
								= day.close
					div.onerow
						div.addresspiece
							= item.full_address

