block content


  table.u-full-width
    thead
      tr
        th Name
        th Location
        th Stars
    tbody
    each item in items  
      tr
        td
          b
            a(href="#", onClick='viewDoctor("' + item.business_id + '")')
              = item.name
        td= item.city + ", " + item.state
        td= item.stars
