block content
    h2= Search
    div.row
        div.columns.eight
            .form-group.form-group-default
                label Term         
                input#term.form-control(type='text', required='')                
        div.columns.four                         
            button.btn.btn-primary(onClick='search.searchByTerm($("#term").val())') Search


    div.row
        div.columns.eight
            .form-group.form-group-default
                label Member ID           
                input#location.form-control(type='text', required='')                
        div.columns.four                        
            button.btn.btn-primary(onClick='search.searchByLocation($("#location").val())') Search