h1= item.name
hr
h4= "Average Stars: " + item.average_stars
ul
    li= "Yelping since: " + item.yelping_since
    li= "funny votes: " + item.votes.funny + ", useful votes: " + item.votes.useful + ", cool votes: " + item.votes.cool