h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Business Name           
            input#name.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='business.searchByName($("#name").val())') Search

.row
    .col-md-8
        .form-group.form-group-default
            label Category            
            input#category.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='business.searchByCategory($("#bill-id").val())') Search

h5 Business Name
ul
    li
        a(href="#" onClick='business.searchByName("Urban Curry")') Urban Curry

